body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, label{
    color: white;
}
label{
    margin: 3px;
}
input{
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: rgb(46, 46, 46);
    color: white;
    border-radius: 5px;
    outline: none;
}
input::after{
    outline: none;
}
button{
    float: right;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(4, 4, 228);
    color: aliceblue;
    border: none;
    transition-duration: 0.2s;
}
button:hover{
    background-color: rgb(33, 33, 33);
    color: aliceblue;

}
